<title>Rules</title>


<head>
    <link rel="stylesheet" href='/static/play/index.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<a href="{% url 'index' %}">Home</a>


<h1>GOAL</h1>
<p>The goal of this game is to keep the pickaxe out of the lava for as many turns as possible.</p>
<p>Specifically, in single player mode your goal is to get a high score - this game is all about balancing risk.</p>

<h1>TURNS</h1>
<h3>Each turn you have you two choices:</h3>
<p>    1. Move the pickaxe back to center square (you can only do this 5 times!)</p>
<p>    2. Let the computer RANDOMLY move the pickaxe one of four directions (up, down, left or right)</p>


<p>If you are in the corner and you choose RANDOM and survive, you are awarded with +1 move for your bravery.</p>

<h1>Good luck!!</h1>

</body>